doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{error.status} - #{error.message}
        link(href="images/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet" href="vendor/css/bootstrap.css")
        //link(rel="stylesheet" href="css/error.css")
    body
        br
        br
        div.container.text-center
            div.row
                div.jumbotron
                    h1 #{error.status}
                        small Error
                    h2  #{error.message}
                    if (process.env.NODE_ENV === 'development')
                        hr
                        h5.text-left
                            small #{error.stack}
                    hr
                    p
                        a(href="/" class="btn btn-primary btn-lg" role="button") Ir a la página principal

    if (process.env.NODE_ENV === 'development')
        script(src="http://localhost:35729/livereload.js")
