doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{error.status} - #{error.message}
        link(href="images/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet" href="vendor/css/bootstrap.css")
        //link(rel="stylesheet" href="css/error.css")
    body
        br
        br
        div.container.text-center
            div.jumbotron
                h2 Error #{error.status}
                h1  #{error.message}
                if (process.env.NODE_ENV === 'development')
                    hr
                    h5.text-left
                        small #{error.stack}
                hr
                a(href="/" class="btn btn-lg btn-btn-primary") Ir a la página principal

    if (process.env.NODE_ENV === 'development')
        script(src="http://localhost:35729/livereload.js")
